@model LoginViewModel
@{
    ViewData["Title"] = "アカウント確認";
}

<div class="text-center">

<h2>申し訳ありません</h2>
<h2>このサービスは現在ご利用いただけません</h2>

<br/>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">ホームに戻る</a>

<div/>