@model IEnumerable<Mychelin.Models.Shoplist>

@{
    ViewData["Title"] = "マイページ";
}

<h1 style="text-align: center;">🌟🌟🌟Mychelinリスト🌟🌟🌟</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2">
            <!-- 画像を表示＆店舗詳細へジャンプ -->
            <a href="@Url.Action("Details", "Shoplist", new { id = item.ShoplistId})">
            <img src="@item.ImagePath" alt="Shoplist image" class="img-fluid" />

            <!-- 店名を表示＆店舗詳細へジャンプ -->
                <a href="@Url.Action("Details", "Shoplist", new { id = item.ShoplistId })">
            <p>@Html.DisplayFor(modelItem => item.ShoplistName)</p>
        </div>
    }
</div>